      

    .dh {

             margin: 50px auto;

             height: 40px;

             background-color: #690;

             text-align: center;

             

             

             


          }         

    #dh ul {

        list-style: none;
        
        margin-left: 50px;

        

     

        
     


        

        }           

    #dh li {

        display: inline;    
        font-size: 30px;
        margin: 60px;
        
            

        }           

    #dh a {

        line-height: 40px;

        color:white;

        text-decoration: none;

        padding: 20px 20px;

        font-weight:bold;

        

        }           

    #dh a:hover {

        background-color:blue;
       

        }

